<!-- page title  -->
<div class="d-flex border p-3 align-items-baseline">
    <h2 class="fw-medium">Mi Perfile</h2>
    <h4 class="ms-3 title fw-light greytext">Administracion de perfile</h4>
</div>
<div class="main p-3">
    <!-- first section welcome + bars -->
    <div class="div1 p-5 mb-2">
        <div class="d-flex justify-content-between mb-3">

            <!-- left  welcome section  -->
            <div class="welcome align-items-center p-3">
                <div class="d-flex justify-content-between">
                    <div class="me-3">
                        <img class="d-block m-auto" src="../../assets/images/avatar/Ellipse 4.png" width="70"
                            height="70" alt="">
                        <div class="d-flex justify-content-between">
                            <img src="../../assets/images/weapons/CategoriaBronce 1.png" width="40" height="40" alt="">
                            <img src="../../assets/images/weapons/CategoriaOro 1.png" width="40" height="40" alt="">
                            <img src="../../assets/images/weapons/CategoriaPlata 1.png" width="40" height="40" alt="">
                        </div>
                    </div>
                    <div>
                        <h3 class="green m-0">WELCOME!</h3>
                        <h4 class="fw-bold text-white m-0">ANDREA YAMILET RANGEL
                            QUIROZ</h4>
                        <h3 class="text-white fw-light line mb-4">Meta Manager</h3>
                    </div>
                    <div>
                        <button class="dots" type="button">...</button>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="cards align-items-center p-2">
                        <img class="card-img-top p-2" src="../../assets/images/weapons/CoronaPrincipe100 2.png"
                            width="99" height="99" alt="Card image">
                    </div>
                    <div class="cards">
                        <img src="../../assets/images/weapons/CoronaPrincipe100 2.png" width="99" height="99"
                            alt="Card image">
                    </div>
                    <div class="cards">
                        <img src="../../assets/images/weapons/PenachoPakoa100 2.png" width="108" height="102"
                            alt="Card image">
                    </div>

                </div>
            </div>

            <!-- right bar section, angular highcharts is installed and ready to use  -->
            <div class="welcome p-3">
                <div class="d-flex justify-content-end mb-2">
                    <button class="dots" type="button">...</button>
                </div>

                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <p class="text-white fs-6">Instalado 30 dias $33140</p>
                        <p class="fs-6" style="color:#FFD643">100%</p>
                    </div>
                    <div class="progress box" style="height: 9px">
                        <div class="progress-bar full rounded" style="width:100%"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <p class="text-white fs-6">Instalado Semanal $990</p>
                        <p class="text-white fs-6">25%</p>
                    </div>
                    <div class="progress" style="height: 9px">
                        <div class="progress-bar low rounded" style="width:25%"></div>
                    </div>
                </div>

                <div>
                    <div class="d-flex justify-content-between">
                        <p class="text-white fs-6">Vendido Semanal $7080</p>
                        <p class="text-white fs-6">76%</p>
                    </div>
                    <div>
                        <div class="progress" style="height: 9px">
                            <div class="progress-bar good rounded" style="width:76%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- mis trofeos cards -->
        <h3 class="text-white">Mis trofeos</h3>
        <!-- row 1  -->
        <div class="d-flex justify-content-between mb-3">
            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/QuetzalIniciatico64px 1.png" width="71"
                    height="75" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Quetzal Inciatico</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2"
                    src="../../assets/images/weapons/replicate-prediction-zku5kqdbtj2f7fn5s23sdpqowe 1.png" width="71"
                    height="75" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Llave del Reino</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/LlaveQuetzal64px 1.png" width="71"
                    height="75" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Llave del Quetzal</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/LlaveDragon64px 1.png" width="60"
                    height="70" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Llave del Dragon</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/EsmeraldaPakoa64px 1.png" width="60"
                    height="70" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Esmeralda de pakoa</p>
                </div>
            </div>

        </div>
        <!-- row 2 -->
        <div class="d-flex justify-content-between">
            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/DagaAncestral 1.png" width="71"
                    height="75" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Daga Ancestral</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2"
                    src="../../assets/images/weapons/replicate-prediction-zku5kqdbtj2f7fn5s23sdpqowe 1.png" width="71"
                    height="75" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Sello del Aprendiz de Agua</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/2daCascada64px 1.png" width="71"
                    height="75" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Sortiza del Maestro de Agua</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/3erCascada64px 1.png" width="60"
                    height="70" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Llave del Reino</p>
                </div>
            </div>

            <div class="card align-items-center p-2">
                <img class="card-img-top p-2" src="../../assets/images/weapons/MetaTrono64x64px 1.png" width="60"
                    height="70" alt="Card image">
                <div class="card-body">
                    <p class="card-text text-white">Llave del Reino</p>
                </div>
            </div>

        </div>
    </div>

    <!-- top 20 slider using bxslider -->
    <div class="p-3">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Top 20 MetaManagers</h3>
                <p class="fs-6 greytext">Instalado 30 dias</p>
            </div>
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="text-decoration-none">See All</a>
                <img src="../../assets/images/icons/info.png" width="25" height="25" class="ms-3" title="More info..."
                    alt="">
            </div>
        </div>
        <div class="top20 d-flex justify-content-center align-items-center p-3">
            <app-top-20-slider></app-top-20-slider>
        </div>
    </div>

    <!-- bar chart section, angular highcharts used to test it  -->
    <div class="p-3">
        <div class="d-flex justify-content-between">
            <div>
                <h2>Communidades Vendiendo</h2>
                <p class="fs-6 greytext">Instalado 30 dias</p>
            </div>
            <div>
                <form>
                    <div class="input-group">
                        <span class="input-group-text text-bg-light"><i class="bi bi-calendar-minus"></i></span>
                        <select class="form-select bg-white">
                            <option>01/02/2024</option>
                            <option>02/2/2024</option>
                            <option>03/02/2024</option>
                        </select>
                    </div>
                </form>

            </div>
        </div>

        <div class="top20 p-3">
            <div class="d-flex justify-content-center align-items-center chart1 my-5">
                <app-bar-chart></app-bar-chart>
            </div>
            <div class="d-flex justify-content-between">
                <button class="chartnav prev" type="button">
                    &#60;&#60; Previous</button>
                <button class="chartnav next" type="button"> Next >> </button>
            </div>
        </div>
    </div>

    <!-- mi progreso  -->
    <div class="p-3">
        <div class="d-flex justify-content-between">
            <div>
                <h3>Mi Progreso</h3>
                <p class="fs-6 greytext">Instalado 30 dias</p>
            </div>
            <div>
                <form>
                    <div class="input-group">
                        <span class="input-group-text text-bg-light"><i class="bi bi-calendar-minus"></i></span>
                        <select class="form-select bg-white">
                            <option>semana 3</option>
                            <option>Semana 4</option>
                            <option>Semana 5</option>
                        </select>
                    </div>
                </form>

            </div>
        </div>

        <div class="top20 p-2">

            <div class="d-flex justify-content-between">
                <!-- row1 -->
                <div class="d-flex rend p-2 m-1">
                    <div class="me-1 d-block m-auto">
                        <img src="../../assets/images/weapons/My progress 1.png" width="65" height="80" alt="">
                    </div>
                    <div class="border-end ms-2">
                        <p class="h6">Candados Abiertos</p>
                        <p class="fw-bold fs-6" style="color: #E0B244">MX16,322.23</p>
                        <p class="fs-6 greytext">Semana: 3</p>
                    </div>
                    <div class="ms-2">
                        <p class="h6">Mamixmo Historico</p>
                        <p class="fw-bold fs-6" style="color: #A0DB1A">MX16,322.23</p>
                        <p class="fs-6 greytext">Semana: 1</p>
                    </div>
                </div>
                <div class="d-flex rend p-2 m-1" style="background-color: #F8FCFF;">
                    <div class="me-1 d-block m-auto">
                        <img src="../../assets/images/weapons/Piramide-Consecutivos 1.png" width="65" height="80"
                            alt="">
                    </div>
                    <div class="border-end ms-2">
                        <p class="h6">Candados Abiertos</p>
                        <p class="fw-bold fs-6" style="color: #E0B244">MX16,322.23</p>
                        <p class="fs-6 greytext">Semana: 3</p>
                    </div>
                    <div class="ms-2">
                        <p class="h6">Mamixmo Historico</p>
                        <p class="fw-bold fs-6" style="color: #A0DB1A">MX16,322.23</p>
                        <p class="fs-6 greytext">Semana: 1</p>
                    </div>
                </div>
                <div class="d-flex rend p-2 m-1">
                    <div class="me-1 d-block m-auto">
                        <img src="../../assets/images/weapons/replicate-prediction-zku5kqdbtj2f7fn5s23sdpqowe 1.png"
                            width="65" height="80" alt="">
                    </div>
                    <div class="border-end ms-2">
                        <p class="h6">Candados Abiertos</p>
                        <p class="fw-bold fs-6" style="color: #E0B244">MX16,322.23</p>
                        <p class="fs-6 greytext">Semana: 3</p>
                    </div>
                    <div class="ms-2">
                        <p class="h6">Mamixmo Historico</p>
                        <p class="fw-bold fs-6" style="color: #A0DB1A">MX16,322.23</p>
                        <p class="fs-6 greytext">Semana: 1</p>
                    </div>
                </div>
            </div>

            <!-- row2  -->
            <div class="d-flex justify-content-between">
                <div class="d-flex rend p-2 m-1" style="background-color: #F8FCFF;">
                    <div class="me-1 d-block m-auto">
                        <img src="../../assets/images/weapons/HijosFull 1.png" width="65" height="80" alt="">
                    </div>
                    <div class="border-end ms-2 ">
                        <p class="h6">Hijos Vendiendo</p>
                        <p class="fw-bold fs-6" style="color: #E0B244">2</p>
                        <p class="fs-6 greytext">Semana: 3</p>
                    </div>
                    <div class="ms-2">
                        <p class="h6">Mamixmo Historico</p>
                        <p class="fw-bold fs-6" style="color: #A0DB1A">5</p>
                        <p class="fs-6 greytext">Semana: 1</p>
                    </div>
                </div>
                <div class="d-flex rend p-2 m-1">
                    <div class="me-1 d-block m-auto">
                        <img src="../../assets/images/weapons/NietosFull 1.png" width="65" height="80" alt="">
                    </div>
                    <div class="border-end ms-2">
                        <p class="h6">Nietos Vendiedo</p>
                        <p class="fw-bold fs-6" style="color: #E0B244">4</p>
                        <p class="fs-6 greytext">Semana: 3</p>
                    </div>
                    <div class="ms-2">
                        <p class="h6">Mamixmo Historico</p>
                        <p class="fw-bold fs-6" style="color: #A0DB1A">6</p>
                        <p class="fs-6 greytext">Semana: 1</p>
                    </div>
                </div>
                <div class="d-flex rend p-2 m-1" style="background-color: #F8FCFF;">
                    <div class="me-1 d-block m-auto">
                        <img src="../../assets/images/weapons/BisNietosFull 1.png" width="65" height="80" alt="">
                    </div>
                    <div class="border-end ms-2">
                        <p class="h6">Bisnietos Vendiedo</p>
                        <p class="fw-bold fs-6" style="color: #E0B244">4</p>
                        <p class="fs-6 greytext">Semana: 3</p>
                    </div>
                    <div class="ms-2">
                        <p class="h6">Mamixmo Historico</p>
                        <p class="fw-bold fs-6" style="color: #A0DB1A">14</p>
                        <p class="fs-6 greytext">Semana: 1</p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- mi rendimento  -->
    <div class="p-3">
        <h4>Mi Rendimento</h4>
        <div class="top20 p-3">
            <!-- top section  -->
            <div class="d-flex">
                <!-- table  -->
                <table class=" table m-2 p-2">
                    <tr class="s" style="background-color: #FDFDFD;">
                        <th style="width:30%">Ano OC</th>
                        <th style="width:30%">Fecha Incio</th>
                        <th style="width:30%">Agente</th>
                    </tr>
                    <tr class="s" style="background-color: white">
                        <td>2024</td>
                        <td>Ultimate 30 Dias</td>
                        <td>ANDREA YAMILIET
                            RANGEL QUIROZ
                        </td>
                    </tr>
                </table>
                <!-- circle graph  -->
                <div class="m-2 p-2 d-flex">
                    <img src="../../assets/images/circle graph.png" width="121" height="121" class="me-3" alt="">
                    <div>
                        <p><span class="circlebadge  rounded-circle me-3"
                                style="background-color: #33b5ff; color: #33b5ff;">
                                ....</span> Instaldo ultimos 30 Dias</p>
                        <p class="h6"><span class="circlebadge me-3" style="background-color: #fff;"> </span>
                            MX30,750,00</p>
                        <p><span class="circlebadge me-3" style="background-color: #67E03D; color: #67E03D;">
                                ....</span> Para desbloquear candado</p>
                        <p class="h6"><span class="circlebadge me-3" style="background-color: #fff;"> </span> MX0.00</p>
                    </div>
                </div>

            </div>

            <div class="m-2 p-2 d-flex justify-content-between">
                <table class="table p-2 flex-grow-1 m-2">
                    <tr style="background-color: #FDFDFD;">
                        <th style="width:80%">Fecha de Inicio</th>
                        <th style="width:20%">40 Dias</th>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>
                    <tr>
                        <td>11/12/2023</td>
                        <td>MX480.00</td>
                    </tr>


                </table>
                <div class="col-7 rend">
                    <app-instalado-chart></app-instalado-chart>
                </div>
            </div>
        </div>
    </div>

    <!-- Resultados por fecha -->
    <div class="p-3">
        <div class="d-flex justify-content-between align-items-baseline">
            <div>
                <h4>Resultados por fecha</h4>
            </div>
            <div class="d-flex mb-2">
                <p class="fs-5 greytext">Rangos por fechas: </p>
                <form>
                    <div class="input-group">
                        <span class="input-group-text text-bg-light"><i class="bi bi-calendar-minus"></i></span>
                        <select class="form-select bg-white">
                            <option>semana 3</option>
                            <option>Semana 4</option>
                            <option>Semana 5</option>
                        </select>
                    </div>
                </form>
                <form>
                    <div class="input-group">
                        <span class="input-group-text text-bg-light"><i class="bi bi-calendar-minus"></i></span>
                        <select class="form-select bg-white">
                            <option>semana 3</option>
                            <option>Semana 4</option>
                            <option>Semana 5</option>
                        </select>
                    </div>
                </form>
                <form>
                    <div class="input-group">
                        <button class=" searchbutton input-group-text" type="button"> <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="top20  d-flex justify-content-center align-items-center p-3">
            <div class="col-6 p-3">
                <div class="d-flex mb-2">
                    <div class="b1 me-2 p-3 col-6">
                        <p class="fs-5">Vendido</p>
                        <h2 style="color: #57B847;">MX5,880.00</h2>
                    </div>
                    <div class="b2 me-2 p-3 col-6">
                        <p class="fs-5">Instalado</p>
                        <h2 style="color: #47B1B8;">MX5,880.00</h2>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="b3 me-2 p-3 col-6">
                        <p class="fs-5">Canceloado</p>
                        <h2 style="color: #CA5D53;">MX1,770.00</h2>
                    </div>
                    <div class="b4 me-2 p-3 col-6">
                        <p class="fs-5">Abierto</p>
                        <h2 style="color: #CA5EA9;">MX0.00</h2>
                    </div>
                </div>
                <div class="rend col-12 mt-2 p-3">
                    <div class="mb-3">
                        <h5>Promedio de instalado</h5>
                        <p class="fs-5 greytext line">(ultimos 90 dias)</p>
                        <div class="d-flex justify-content-end">
                            <p class="fs-6" style="color:#33b5ff">$1163</p>
                        </div>
                        <div class="progress" style="height: 9px">
                            <div class="progress-bar rounded" style="width:0%; color:#33b5ff"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rend col-6 p-3">
                <div class="mb-3">
                    <h5>Distribtion de instaladas</h5>
                    <p class="fs-5 greytext line">(ultimos 90 dias)</p>
                    <div class="d-flex justify-content-between">
                        <p class=" fs-6">1RGU</p>
                        <p class="fs-6" style="color:#33b5ff">0.00%</p>
                    </div>
                    <div class="progress" style="height: 9px">
                        <div class="progress-bar rounded" style="width:0%; color:#33b5ff"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <p class="fs-6">2RGU</p>
                        <p class="fs-6" style="color:#8B34B4">50.00%</p>
                    </div>
                    <div class="progress" style="height: 9px">
                        <div class="progress-bar rounded" style="width:50%; background-color:#8B34B4"></div>
                    </div>
                </div>

                <div>
                    <div class="d-flex justify-content-between">
                        <p class="text-white fs-6">Vendido Semanal $7080</p>
                        <p class="fs-6 line" style="color:#722D2E">50.00%</p>
                    </div>
                    <div>
                        <div class="progress" style="height: 9px">
                            <div class="progress-bar rounded" style="width:76%; background-color:#722D2E"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>