<div class=" container-fluid d-flex border-bottom p-3 justify-content-between align-items-baseline">
    <div class="d-flex align-items-baseline">
        <h2>Mi Diagrama</h2>
        <h5 class="ms-3 title greytext">Administracion de perfile</h5>
    </div>
    <img src="../../assets/images/icons/info.png" width="25" height="25" class="m-3" title="More info..." alt="">
</div>

<!-- tree served area to add its logic inside the div   -->

<div class="container bg">
    <img src="../../assets/images/Tree - Active Users.png" height="500" width="500" class="m-2" alt="">

</div>