.nav-link {
    color: #404F53;
}

.darknav-link {
    color: white;
}

.nav-link.active {
    background-color: transparent;
    border-bottom: 2px solid #38B4FB;
    color: #404F53;
}

.darknav-link.active {
    color: white;
}

.searchbutton {
    background-image: linear-gradient(rgba(140, 214, 255, 1), rgba(51, 181, 255, 1));
    box-shadow: 0px 0px 5px rgba(51, 181, 255, 1);
    color: white;
    border: 0;
    border-radius: 5px;
}

.bg-form-input{
  width: 220px;
  background-color: #F5F8FA;
}


.data {
    background-color: #E8F4FD;
}

.darkdata {
    background-color: rgba(255,255,255,0.2);
}

.accbutton {
    border: 0;
    border-radius: 5px;
    color: white;
    text-wrap: nowrap;
    line-height: 2rem;
}

.button1 {
    background-image: linear-gradient(rgba(139, 214, 255, 1), rgba(53, 183, 255, 1));
    border-color: #3C99CD;
}

.button2 {
    background-image: linear-gradient(rgba(134, 231, 138, 1), rgba(100, 201, 91, 1));
    border-color: #3CAC34;
}

.chartnav {
    background-color: #33b5ff;
    color: white;
    border: 0;
    border-radius: 5px;
    padding-top: 0;
    line-height: 1.7rem;
}

.next {
    box-shadow: -5px 0px 2px #33b4ff7c;
}

.prev {
    box-shadow: 5px 0px 2px #33b4ff7c;
}

.page-link {
    border: none;
    color: #849396;
}



.filtertab {
    box-shadow: 0px 2px 2px #B1C9D6;
}

table {
    box-shadow: 0px 0px 5px #DDD;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}


th {
    text-wrap: nowrap;
}

th,
td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 10px;
}

tr:nth-child(odd) {
    background-color: rgba(248,252,255,0.2);
}

a {
color: black;
}

.darka {
    color: white;
}

