<div class="container-fluid m-0 p-0" ></div>>
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <!-- logo  -->
      <img src="../../assets/images/logo/pakoalogo 1.png" alt="pakoa logo" width="170" height="70" class="ms-3" [ngClass]="{'collapse' : !isSidebarOpen}">
      <div class="logo d-flex container-fluid align-items-center justify-content-start p-0" style="width: 7%">
        <img src="../../assets/images/logo/antorchaff 1.png" alt="logo icon" width="60" height="55">
        <button class="btn  bg-white" (click)="toggleSidebar()"><img
            src=".././assets/images/icons/Frame 194.png" height="15px"></button>
      </div>

      <!-- header  -->
      <app-header style="width: 80%" [ngClass]="{'w-100' : !isSidebarOpen}"></app-header>
    </div>
    <div class="d-flex m-0 p-0">

      <!-- Sidebar -->
      <div class="bar"  [ngClass]="{'collapse' : !isSidebarOpen}" style="width: 20%; height: auto">
        <app-sidebar></app-sidebar>
      </div>

      <!-- Main Content -->
      <div class="m-0 p-0" [ngClass]="{'w-100' : !isSidebarOpen}" style="width: 80%">
        <div class="d-flex container-fluid">
        </div>
        <router-outlet></router-outlet>

        <!-- footer  -->
        <footer>
          <p class="greytext align-content-center fs-6 p-2">Enterprise Standard | API: v11.2.0 | Client: v11.2.0
            [20240116]</p>
        </footer>

      </div>
    </div>
  </div>