.logo {
background-color: #fff;
height: 90;
}


li a:hover {
    background-image: linear-gradient(to right,rgba(0, 158, 247, 0.2), rgba(0, 158, 247, 0));
 border-left: 8px solid rgba(0, 158, 247, 1) ;
}

.bi:hover {
    color: #3AB6FB;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
    background-image: linear-gradient(to right,rgba(0, 158, 247, 0.2), rgba(0, 158, 247, 0));
 border-left: 8px solid rgba(0, 158, 247, 1) ;
}


.searchbox {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50px 0px 0px 50px;
}
.search{
border-radius: 0px 50px 50px 0px;
border: none;
background-color: rgba(255, 255, 255, 0.6) !important;

}
