.logo {
background-color: #fff;
height: 90;
}


li a:hover {
 background-image: url(../../assets/images/icons/hover.png);
 
}

.bi:hover, .bi.active {
    color: #3AB6FB !important;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
 background-color: transparent;
 
 background-image: url(../../assets/images/icons/hover.png);
 background-size: contain;
 background-position: center;
 background-repeat: no-repeat;

}





.searchbox {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 50px 0px 0px 50px;
}
.search{
border-radius: 0px 50px 50px 0px;
border: none;
background-color: rgba(255, 255, 255, 0.6) !important;

}
