<div class="d-flex flex-column flex-shrink-0  bg-body-tertiary bar">
    <!-- logo  -->
    <div class="logo d-flex container-fluid p-4">
        <img src="../../assets/images/logo/pakoalogo 1.png" alt="pakoa logo" width="142" height="56" class="me-3">
        <img src="../../assets/images/logo/antorchaff 1.png" alt="logo icon" width="47" height="48">
        <button class="btn m-2"><img src=".././assets/images/icons/Frame 194.png"></button>
    </div>

    <!-- search box -->
    <div class="d-flex justify-content-start">
    <form style="width: 15rem">
        <div class="input-group m-4">
            <button class=" searchbox input-group-text" type="button"> <i class="bi bi-search"></i>
            </button>
            <input type="search" class="search form-control p-2 border-0 shadow" placeholder="Search">
        </div>
    </form>
    </div>
  


    <!-- menu  -->
    <ul class="nav nav-pills p-3 flex-column mb-auto">
        <!-- Dashboard -->
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="">
                <img src="../../assets/images/icons/Vector.png" width="20" height="20" class="me-2" alt="user icon">Mi
                Perfile
            </a>
        </li>

        <!-- Layout builder -->
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="capturadeventa">
                <img src="../../assets/images/icons/Vector (1).png" width="16" height="16" class="me-2"
                    alt="user icon">Captura Venta
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="" routerLinkActive="active">
                <img src="../../assets/images/icons/Vector (1).png" width="16" height="16" class="me-2"
                    alt="user icon">Captura Venta OC
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="" routerLinkActive="active">
                <img src="../../assets/images/icons/Group 1.png" width="16" height="16" class="me-2"
                    alt="user icon">Ventas
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="miIngresos" routerLinkActive="active">
                <img src="../../assets/images/icons/Vector (2).png" width="16" height="16" class="me-2"
                    alt="user icon">Mis Ingresos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="miDiagrama" routerLinkActive="active">
                <img src="../../assets/images/icons/Vector (3).png" width="16" height="16" class="me-2"
                    alt="user icon">Mi Diagrama
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="misPaginas" routerLinkActive="active">
                <img src="../../assets/images/icons/flag.png" width="16" height="16" class="me-2" alt="user icon">Mi
                Paginas
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="agregarHijos" routerLinkActive="active">
                <img src="../../assets/images/icons/Group 2.png" width="16" height="16" class="me-2"
                    alt="user icon">Agregar Hijos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="micomunidad" routerLinkActive="active">
                <img src="../../assets/images/icons/Group 4.png" width="16" height="16" class="me-2" alt="user icon">Mi
                Comunidad
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="" routerLinkActive="active">
                <img src="../../assets/images/icons/Group 3.png" width="16" height="16" class="me-2"
                    alt="user icon">Reportes
            </a>
        </li>
    </ul>
</div>