<div class=" container-fluid d-flex border-bottom p-2 mx-5 justify-content-between align-items-baseline">
    <div class="d-flex align-items-baseline">
        <h2>Mi Ingresos</h2>
    </div>
    <img src="../../assets/images/icons/info.png" width="25" height="25" class="m-3" title="More info..." alt="">
</div>

<div class="main container-fluid p-3">
    <div class="top20 p-5 m-3 d-flex justify-content-center">
        <img src="../../assets/images/ingresos.png" width="625" height="300" alt="">
    </div>

    <div class="top20  p-5 m-3 d-flex justify-content-center">
          <!-- table  -->

      <!-- sorting data and buttons need API and some logic
angular material sorting is installed and ready to use -->

      <div class=" d-flex justify-content-center">
        <table class="table table-striped">
          <tr style="background-color: #FDFDFD;">
            <th>Consecutivo <i class="bi bi-arrow-down-up"></i></th>
            <th>Semana <i class="bi bi-arrow-down-up"></i></th>
            <th>Instalado<br>Personal <i class="bi bi-arrow-down-up"></i></th>
            <th>Ingreso<br>Personal <i class="bi bi-arrow-down-up"></i></th>
            <th>Ingreso<br>Hijos(8%) <i class="bi bi-arrow-down-up"></i></th>
            <th>Ingreso<br>Nietos(12%) <i class="bi bi-arrow-down-up"></i></th>
            <th>Ingreso<br>Bisnietos(20%) <i class="bi bi-arrow-down-up"></i></th>
            <th>Comision<br>Total <i class="bi bi-arrow-down-up"></i></th>
          </tr>
          <tr>
            <td>72.3</td>
            <td>23/01/2024</td>
            <td>MX350.00</td>
            <td>24/01/2024</td>
            <td>MX350.00</td>
            <td></td>
            <td></td>
            <td><a>Estatus</a></td>
          </tr>
          <tr>
            <td>72.3</td>
            <td>23/01/2024</td>
            <td>MX350.00</td>
            <td>24/01/2024</td>
            <td>MX350.00</td>
            <td></td>
            <td></td>
            <td><a>Estatus</a></td>
          </tr>
          <tr>
            <td>72.3</td>
            <td>23/01/2024</td>
            <td>MX350.00</td>
            <td>24/01/2024</td>
            <td>MX350.00</td>
            <td></td>
            <td></td>
            <td><a>Estatus</a></td>
          </tr>

        </table>


    </div>
</div>