<ul class="bxslider" id="top20">
    <li class="">
        <img src="../../assets/images/avatar/Ellipse 6.png" />
    <p class="fs-6 text-center">Diego Mier Rodriguez</p>
    <p class="h5 text-center">MX24,880.00</p>
    </li>
    <li>
        <img src="../../assets/images/avatar/Ellipse 61.png" />
        <p class="fs-6 text-center">Diego Mier Rodriguez</p>
        <p class="h5 text-center">MX24,880.00</p>
    </li>
    <li>
        <img src="../../assets/images/avatar/Ellipse 62.png" />
        <p class="fs-6 text-center">Diego Mier Rodriguez</p>
        <p class="h5 text-center">MX24,880.00</p>
    </li>
    <li>
        <img src="../../assets/images/avatar/Ellipse 63.png" />
        <p class="fs-6 text-center">Diego Mier Rodriguez</p>
        <p class="h5 text-center">MX24,880.00</p>
    </li>
    <li>
        <img src="../../assets/images/avatar/Ellipse 64.png" />
        <p class="fs-6 text-center">Diego Mier Rodriguez</p>
        <p class="h5 text-center">MX24,880.00</p>
    </li>
    <li>
        <img src="../../assets/images/avatar/Ellipse 65.png" />
        <p class="fs-6 text-center">Diego Mier Rodriguez</p>
        <p class="h5 text-center">MX24,880.00</p>
    </li>
</ul>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>