.width {
    width: 280px;
  }

  button {
      background-image: linear-gradient(rgba(140, 214, 255, 1), rgba(51, 181, 255, 1));
      box-shadow: 0px 0px 5px rgba(51, 181, 255, 1);
      color: white;
      border: 0;
      border-radius: 5px;
  }

  input{
    width: 280px;
  }