/* Typography  */
@font-face {
    font-family: "Satoshi";
    src: url(assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf) format("opentype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Satoshi";
    src: url(assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf) format("opentype");
    font-weight: 300;
  }

  @font-face {
    font-family: "Satoshi";
    src: url(assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf) format("opentype");
    font-weight: 700;
  }

.fs-s {
    font-size: 0.6rem;
}

/* h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}
h4 {
    font-size: 0.87rem;
}
h5 {
    font-size: 0.74rem;
} */

.greytext {
    color: #849396;
}

.line {
    line-height: 70%;
}

.btn:focus {
border: 0;
}

/* for white background boxes */
.top20 {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px;
}

/* for grey boxes with opacity */
.welcome {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    width: 49%;
    height: 259px;
}

/* for rounded boxes without color  */
.rend {
    border: 1px solid #ddd;
    border-radius: 12px;
}

/* to make content area in light blue  */
.main {
    background-color: #D0EEFF;

}

input {
    background-color: #F5F8FA !important;
}

.bg-form-input {
    background-color: #F5F8FA !important;
}

/* for pagination */
.page-link.active {
    background-color: #F3F2F2 !important;
    border-radius: 50%;
}


.bi {
    background-color: transparent !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Satoshi", sans-serif; }


/* notification dots  */
.notification-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
        transform: translate(50%, -50%);
  }

  .up {
    position: absolute;
    top: 5px;
    right: 10px;
    transform: translate(50%, -50%);
  }

  .down {
    bottom:-2px;
    right: 10px;
  }

  .badge {
    color: white;
    font-size: 3px;
  }