

/* Typography  */
/* font  */
@font-face {
    font-family: "Satoshi";
    src: url(assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf) format("opentype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Satoshi";
    src: url(assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf) format("opentype");
    font-weight: 300;
}

  @font-face {
      font-family: "Satoshi";
      src: url(assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf) format("opentype");
    font-weight: 700;
}

html, body { height: 100%; }

body { margin: 0; font-family: "Satoshi", sans-serif; }

.fs-s {
    font-size: 0.6rem;
}

/* colors */

  
  /* Dark Theme */
  .dark-mode {
    background-color: #2E3443;
    color: #fff;
  }

  
  .light-mode {
    background-color: #fff;
    color: #333;
  }

  /* to make content area in light blue  */
  .main  {
      background-color: #D0EEFF;
  
  }
  
  .darkmain {
      background-color: #1A202D;
  }

  /* for white background boxes */
  .top20 {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0px 0px 10px;
  }

  .darktop20 {
    background-color: #171C26;
  }

  .progreso {
background-color: #F8FCFF;
  }

  .darkprogreso {
    background-color: #242B39;
  }

.greytext {
    color: #6b787a;
}

.tablehead {
    background-color: #F3FBFF !important;
}

.darktable {
background-color: #242B39 !important;
color: #fff !important;
}

::placeholder {
  color: #2e3542;
}

.dark-mode ::placeholder {
  color: #9c9ea3;
}

select, input {
  background-color: #F1F7FB;
  border: 1px solid #D1DCE1;
}



::ng-deep .dark-mode input, ::ng-deep .dark-mode select, ::ng-deep .dark-mode .form-control {
  color: #fff;
  background-color: #242B39;
}

a {
    background-color: transparent;
}

.line {
    line-height: 70%;
}

.btn:focus {
border: 0;
}


/* for grey boxes with opacity */
.welcome {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    width: 49%;
    height: 259px;
}

/* for rounded boxes without color  */
.rend {
    border: 1px solid #ddd;
    border-radius: 12px;
}




/* for pagination */
.page-link.active {
    background-color: #F3F2F2 !important;
    border-radius: 50%;
}


.bi {
    background-color: transparent !important;
}



/* notification dots  */
.notification-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
        transform: translate(50%, -50%);
  }

  .up {
    position: absolute;
    top: 5px;
    right: 10px;
    transform: translate(50%, -50%);
  }

  .down {
    bottom:1px;
    right: 4px;
    position: absolute;
    transform: translate(50%, -50%);
  }

  .badge {
    color: white;
    font-size: 12px;
  }