p {
    font-size: 8px;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}
h4 {
    font-size: 0.87rem;
}
h5 {
    font-size: 0.74rem;
}

.greytext {
    color: #849396;
}

.line {
    line-height: 20%;
}

/* for white background boxes */
.top20 {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px;
}

/* for grey boxes with opacity */
.welcome {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    width: 49%;
    height: 259px;
}

/* for rounded boxes without color  */
.rend {
    border: 1px solid #ddd;
    border-radius: 12px;
}

/* to make content area in light blue  */
.main {
    background-color: #D0EEFF;

}

input {
    background-color: #F5F8FA !important;
}

.bg-form-input {
    background-color: #F5F8FA !important;
}

/* for pagination */
.page-link.active {
    background-color: #F3F2F2 !important;
    border-radius: 50%;
}


.bi {
    background-color: transparent !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
