<div class="d-flex justify-content-between p-3">
    <h2 class="m-0">22 - 28 January</h2>
    <div class="d-flex">
        <button type="button" class="day fw-bold me-2">Today</button>
        <button class="prev" type="button"><i class="bi bi-arrow-left"></i></button>
        <button class="next" type="button"><i class="bi bi-arrow-right"></i></button>
    </div>
</div>

<div class="d-flex calendar">
    <div class="p-5 align-self-center"><p>All Day</p></div>
<table class="p-5">
    <tr class="p-3">
        <th>Mon 01</th>
        <th>Mon 02</th>
        <th>Mon 03</th>
        <th>Mon 04</th>
        <th>Mon 05</th>
        <th>Mon 06</th>
        <th>Mon 07</th>
    </tr>
    <tr>
        <td>
            <div class="m-2 p-2 bg-red"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-red"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-red"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-orange"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-yellow"> 38134810</div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-orange"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-orange"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-yellow"> 38134810</div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-orange"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-yellow"> 38134810</div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            
        </td>
        <td>
            <div class="m-2 p-2 bg-yellow"> 38134810</div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="m-2 p-2 bg-red"> 38134810</div>
        </td>
        <td>
            <div class="m-2 p-2 bg-green"> 38134810</div>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            <div class="m-2 p-2 bg-yellow"> 38134810</div>
        </td>

    </tr>
    <tr>
        <td>

        </td>
        <td>
            <div class="m-2 p-2 bg-orange"> 38134810</div>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            <div class="m-2 p-2 bg-yellow"> 38134810</div>
        </td>

    </tr>
</table>